$icon-font-path: "/fonts/"; /* use fonts from priv/static/fonts/ */
@import "bootstrap"; /* imports node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss */
@import "font-awesome";

img {
  @media only screen and (max-device-width: 480px) {
    max-width: 280px;
  }
}

.container {
  background: #fff;
  min-width: 500px;
  margin: 0 auto;
}

body {
  background-image: url("/images/bg.gif");
  font-size: 14px;
  nav {
    font-size: 24px;
    ul li {
      list-style: none;
      display: inline;
      a {
        color: yellow;
        background: salmon;
      }
      a:hover {
        color: salmon;
        background: yellow;
      }
    }
  }
}
.flex-container {
  display: flex;
  .flex-item {
    padding: 15px;
  }
}
.artist {
  margin-bottom: 5px;
  border-bottom: dashed 5px yellow;
}

form {
  padding: 10px;
  input#mc-embedded-subscribe {
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    background: lightblue;
    color: white;
  }
}

button {
  background: lightblue;
  color: white;
  padding: 5px;
  font-size: 30px;
  border: dashed white 2px;
  border-radius: 5px;
}

#result {
  background: salmon;
  color: white;
  padding: 5px;
  font-size: 50px;
  border: dashed white 2px;
  border-radius: 5px;
}

table {
  border: dashed 10px lightblue;
  tr td {
    border: dashed 10px lightblue;
    width: 150px;
    height: 150px;
    overflow: hidden;
    &:hover {
      border: dashed 10px salmon;
    }
  }
  td#romero {
    background: url('/images/romero_char_bw.png') !important;
    &:hover {
      background: url('/images/romero_char.png') !important;
    }
  }
  td#richie {
    background: url('/images/richie_char_bw.png') !important;
    &:hover {
      background: url('/images/richie_char.png') !important;
    }
  }
  td#kiki {
    background: url('/images/kiki_char_bw.png') !important;
    &:hover {
      background: url('/images/kiki_char.png') !important;
    }
  }
  td#firedrill {
    background: url('/images/firedrill_char_bw.png') !important;
    &:hover {
      background: url('/images/firedrill_char.png') !important;
    }
  }
  td#light {
    background: url('/images/light_char_bw.png') !important;
    &:hover {
      background: url('/images/light_char.png') !important;
    }
  }
  td#webb {
    background: url('/images/webb_char_bw.png') !important;
    &:hover {
      background: url('/images/webb_char.png') !important;
    }
  }
  td#guest1 {
    background: url('/images/guest1_char_bw.png') !important;
    &:hover {
      background: url('/images/guest1_char.png') !important;
    }
  }
  td#guest2 {
    background: url('/images/guest2_char_bw.png') !important;
    &:hover {
      background: url('/images/guest2_char.png') !important;
    }
  }
}
